<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
  
  <configuration>
	<typeAliases>
		<typeAlias type="java.util.List" alias="List"/>
		<typeAlias type="java.util.HashMap" alias="HashMap"/>
		<typeAlias type="java.lang.Long" alias="Long"/>
		<typeAlias type="com.github.pagehelper.Page" alias="Page"/>
		
		<typeAlias type="com.jy.sb7.member.MemberVO" alias="MemberVO"/>
		<typeAlias type="com.jy.sb7.res.ReservationVO" alias="ReservationVO"/>
		<typeAlias type="com.jy.sb7.res.pay.PayVO" alias="PayVO"/>
		<typeAlias type="com.jy.sb7.room.StudyRoomsVO" alias="StudyRoomsVO"/>
	</typeAliases>
</configuration>  