@charset "UTF-8";

.article_title {
	margin: 100px 0 0 0
}

.article_title h3 {
	font-size: 35px;
	font-weight: 400;
	text-align: center;
	background: url(../../images/service/line.jpg) no-repeat center bottom;
	padding: 0 0 20px 0
}

.article_title p {
	font-size: 16px;
	color: #6f6f6f;
	line-height: 23px;
	text-align: center;
	margin: 20px 0 40px 0;
}

.article_title ul {
	width: 1200px;
	margin: 0 auto 100px auto;
	position: relative
}

.article_title li {
	font-size: 18px;
	line-height: 25px;
	margin: 23px 0
}

.article_title a {
	position: absolute;
	right: 0;
	top: 10px
}



.frm .form-group {
	margin-bottom: 2rem;
}

.frm .form-group label {
	font-size: 13px;
	font-weight: 700;
}

.frm .form-control {
	height: 34px;
	font-family: sans-serif;
	font-size: 14px;
	line-height: 1.4;
	border-radius: .4rem;
}

.frm .note-editor .note-editing-area .note-placeholder {
	font-size: 14px;
	font-family: sans-serif;
}

.frm .note-editor .note-editing-area .note-editable * {
	font-size: 14px;
}



/* list */
.inner {
	width: 100%;
}

.list_table {
	width: 100%;
}

.list_table th {
	text-align: center;
	vertical-align: middle;
	background: #f9f9fa;
	height: 55px;
	font-size: 16px;
	font-weight: bold;
}

.list_table td {
	line-height: 30px;
	padding: 0 25px auto;
	font-size: 15px;
}

.list_table td a {
	display: block;
	cursor: pointer;
	font-size: 15px;
}

.list_table td a:hover {
	font-weight: bold;
	color: #ffb400;
	text-decoration: none;
}

.list_table tr td.num, td.regDate, td.hit {
	text-align: center;
}



.pager .page-item {
	width: 36px;
	height: 36px;
	color: #212529;
	padding: -7px -7px 0 0;
	margin-right: 10px;
	border: 1px solid #ffb400;
	border-radius: 50%;
}

.pager .page-item a {
	cursor: pointer;
	display: block;
	width: 36px;
	height: 36px;
	font-size: 16px;
	font-weight: 400;
	text-align: center;
	padding-top: 7px;
	box-sizing: border-box;
}

.pager .page-item:hover, .page-btn.selected {
	display: block;
	background: url('../../images/service/number_rud.png') no-repeat;
	border: none;
}

.pager .page-item a:hover, .on {
	color: #fff;
	text-decoration: none;
}



.btn-write {
	display: block;
	float: right;
	margin-top: 20px;
	background-color: #ffb400;
	border: none;
	color: #fff;
}

.btn-write:hover {
	background-color: #ffb400;
	color: #fff;
}




/* select */
.select_table {
	margin-bottom: 20px;
	border-bottom: 1px solid #dee2e6;
}


.select_table th {
	text-align: center;
	vertical-align: middle;
	background: #f9f9fa;
	min-height: 50px;
	font-size: 16px;
	font-weight: bold;
}

.select_table td.title {
	text-align: left;
	vertical-align: middle;
	padding-left: 20px;
	line-height: 40px;
	font-size: 15px;
}

.select_table td.contents, td.files {
	text-align: left;
	vertical-align: middle;
	padding:20px;
	font-size: 15px;
}

.select_table .files .filedown {
	padding-bottom: 5px;
}

.btn_toList {
	width: 180px;
	background: #505a69;
	color: #fff;
	text-align: center;
	border-radius: 7px;
	margin: 0 auto 60px calc(50% - 90px);
}

.btn_toList a {
	font-size: 16px;
	font-weight: bold;
	text-decoration: none;
	display: inline-block;
	padding: 10px 40px;
	color: #fff;
}

.btn_toList a:hover {
	cursor: pointer;
	color: #fff;
}

.btn-update-delete {
	float: right;
}


/* @media screen and (max-width:991px) {
	
	.list_table th {
		text-align: center;
		vertical-align: middle;
		background: #f9f9fa;
		height: 50px;
		font-size: 15px;
		font-weight: bold;
	}
	
	.list_table td {
		line-height: 25px;
		padding: 0 20px auto;
		font-size: 13px;		
	}
} */



@media screen and (max-width:767px) {
	
	
}